/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body 
{
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    font-family: "raleway", sans-serif;
}
.container 
{
    width: 95%;
    margin: auto auto 2.5rem auto;
}
h1
{
    font-size: 1.25rem;
}
h2
{
    font-size: 1.25rem;
}
h3
{
    font-size: 1rem;
    margin: 0.5rem;
}
h4 
{
    margin: 0rem 0rem 0.5rem 0rem;
}
a 
{
    text-decoration: none;
    color: black;
}
p 
{
    margin-bottom: 1rem;
}
.price 
{
    font-weight: bold;
}
ul 
{
    list-style: none;
    display: flex;
}
@media (max-width: 992px)
{
    .container
  {
      width: 100%;
  }
}
/* HEADER */
header 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #0065FC;
}
.logo
{
    flex: 1;
    margin-top: 1rem;
}
nav ul 
{
    justify-content: space-between;
    padding-left: 0rem;
    margin-top: 0;
    padding-top: 0;
}
nav ul li
{
    border-top: 3px solid white;
    padding-top: 2rem;
    margin-left: 7rem;
}
nav ul li:hover 
{
    border-top-color: #0065fc;
}
nav ul a:hover
{
    color: #0065FC;
}
#login
{
    margin : 0rem 0rem auto 7rem;
    border-top: 3px solid white;
    padding-top: 2.1rem;
}

#registration 
{
    font-weight: bold;
    color: #0065FC; 
}
@media (max-width: 992px)
{
    .logo
    {
        margin-left: 1rem;
    }
    nav ul li
    {
        margin-left: 4rem;
    }
    #login
    {
        margin-left: 4rem;
        margin-right: 1rem;
    }
  
}
@media (max-width: 605px)
{
    header 
    {
        flex-direction: column;
    }
    nav 
    {
        order: 3;
        width: 100%;
        margin-top: 2rem;
    }
    nav ul li
    {
        border-bottom: 3px solid #f1eeee;
        padding-bottom: 1rem;
        margin-left: auto;
        width: 50%;
        text-align: center;
    }
    nav ul li:hover
    {
        border-top-color: white;
        border-bottom-color: #0065fc;
    }
    #login
    {
        border: none;
        align-self: flex-end;
        margin-top: -1.7rem;
        margin-right: 1rem;
        padding-top: 0;
    }
}

/* SECTION 1*/
.search
{
    margin-bottom: 2rem;
}

.fa-info-circle 
{
    color: #0065FC;
}
/* formulaire */
.destination-form 
{
    display: flex;
    height: 40px;
    margin-top: 1.5rem;
}
.destination-form__map-point 
{
    width: 40px;
    background-color: #f2f2f2;
    border: #f2f2f2 solid 1px;
    border-radius: 0.7rem 0rem 0rem 0.7rem;
    display: flex;
}
.fa-map-marker-alt 
{
    margin: auto;
}
input
{
    font-family: "raleway", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
input::placeholder
{
    color: black;
}
.destination-form__text-area
{
    width: 20%;
    min-width: 12rem;
    padding-left: 15px;
    border: #f2f2f2 solid 1px;
    border-radius: 0%;
}
.destination-form__text-area:focus-visible 
{
    outline: none;
}
.destination-form__submit-button--text 
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 0rem 0.7rem 0.7rem 0rem;
    color: white;
}
.destination-form__submit-button--text:hover 
{
    background-color: #3083ff;
}
.destination-form__submit-button--icon 
{
    display: none;
}
@media (max-width: 992px) 
{
    h1, .search p, form, .search-filter, .info
    {
        margin-left: 1rem;
    }
    .destination-form__submit-button--text 
    {
        display: none;
    }
    .destination-form__submit-button--icon 
    {
        display: initial;
        position: absolute;
        left: 14rem;
    }
    .destination-form__submit-button--icon input 
    {
        width: 40px;
        height: 40px;
        background-color: #0065FC;
        border: #f2f2f2 solid 1px;
        border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    }
    .fa-search 
    {
        color: white;
        position: relative;
        right: 1.8rem;
        bottom: 0.82rem;
    }
}
/* filtres */
.search-filter 
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 1.5rem;
}
.search-filter p
{
    margin-right: 1.5rem;
}
.search-filter__options 
{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    cursor: pointer;
}
.search-filter__option 
{
    display: flex;
    margin-bottom: 1rem;
    position: relative;
    right: 1.5rem;
}
.search__filter--icon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    position: relative;
    left: 1.5rem;
    background-color: #e3eeff;
    border: 1px solid #e3eeff;
    border-radius: 100%;
    width: 3rem;
}
.search__filter--name 
{
    display: flex;
    border: solid 2px #d9d9d9;
    height: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-left: none;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    white-space: nowrap;
    margin: auto;
    background-color: white;
    transition: background-color 800ms ease-out;
}
.search__filter--name:hover
{
    background-color: rgb(41, 106, 134);
}
.info
{
    display: flex;
    align-items: center;
}

.info-symbol
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border-radius: 100%;
    border: 1px solid #e3eeff;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}
/* SECTION 2 */
#hebergements
{
    display: flex;
    margin-bottom: 0rem;
}
#hebergements h1
{
    margin-top: 0;
    margin-bottom: 0;
}
.hebergements__options, .hebergements__populaires 
{
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}
.blue-star 
{
    color: #0065FC;
}
.empty-star 
{
    color: #d9d9d9;
}
@media (max-width: 992px) 
{
    #hebergements
    {
        flex-direction: column-reverse;
        width: 100%;
    }
    .hebergements__populaires 
    {
        background-color: #f2f2f2;
        border-radius: 0;
    }
}
/* hébergements à Marseille */
.hebergements__options
{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    margin-right: 2%;
}
.hebergements__options--container 
{
    margin: 0rem 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.hebergements__options .cards-container 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements__options h2
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.hebergements__options .card 
{
    border-radius: 1.5rem;
    box-shadow: 0px 0px 16px #0000002e;
    flex: 30%;
    height: 200px;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    transform: scale(1);
}
.hebergements__options .card:hover 
{
    transform: scale(1.05);
}
.hebergements__options .card__image 
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
.hebergements__options .card__body 
{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    white-space: nowrap;
}
.hebergements__options h3, .hebergements__options p, .hebergements__options ul 
{
    margin: 0.5rem 0rem 0rem 0.5rem;
    padding: 0;
    transform: none;
}
.more
{
    font-weight: bold;
    font-size: 1.25rem;
}
@media (max-width: 992px) 
{
    .hebergements__options 
    {
        background-color: white;
        margin: auto 0rem auto 1rem;
    }
    .hebergements__options--container
    {
        margin: 0;
        margin-bottom: 1rem;
    }
}
@media (max-width: 605px) 
{
    .hebergements__options .cards-container 
    {
        flex-direction: column;
    }
    .more, .more p
    {
        margin-top: 0rem;
    }
}
/* hébergements populaires */
.hebergements__populaires:nth-child(2) 
{
    display: flex;
    justify-content: center;
}
.hebergements__populaires--container 
{
    margin: 0rem 2rem;
}
.hebergements__populaires__header 
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.hebergements__populaires .title-container 
{
    display: flex;
    justify-content: space-between;
}
.hebergements__populaires h2 
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.fa-chart-line
{
    margin: auto 0 auto 0;
}
.hebergements__populaires .cards-container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements__populaires .card a
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    display: flex;
    margin-bottom: 1rem;
    width: 345px;
    height: 145px;
    padding: 0.3rem;
    transform: scale(1);
}
.hebergements__populaires .card:hover 
{
    transform: scale(1.05);
}
.hebergements__populaires .card__image 
{
    width: 128px;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align: center;
}
.hebergements__populaires .card__body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 1rem;
}
.hebergements__populaires h3, .hebergements__populaires p
{
    margin: 0rem 1rem 1rem 0rem;
    padding: 0;
}
.hebergements__populaires ul
{
    margin: 0rem 1rem 0rem 0rem;
    padding: 0;
}
@media (max-width: 992px)
{
    .hebergements__populaires--container
    {
        width: 100%;
        margin: 0rem 1.3rem 0rem 1rem;
    }
    .hebergements__populaires .card 
    {
        width: 100%;
    }
    .hebergements__populaires .card a
    {
        width: 100%;
    }
    .hebergements__populaires .card__image 
    {
        width: 100%;
        max-width: 148px;
    }
    .title-container
    {
        width: 100%;
    }
}
@media (max-width: 605px)
{
    .hebergements__populaires .card a
    {
        width: 100%;
        height: auto;
        overflow:hidden;
    }
    .hebergements__populaires .card__image 
    {
        width: 100%;
        max-width: 148px;
        height: auto;
    }
}
/* SECTION 3 */
#activities h2
{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
#activities h3
{
    margin: 1rem 0.5rem;
}
#activities .cards-container 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas: 
        "a b d e"
        "a c d f";
    justify-items: center;
}
#activities .card
{
    border-radius: 1.5rem;
    box-shadow: 0px 0px 16px #0000002e;
    transform: scale(1);
    white-space: nowrap;
}
#activities .card:hover
{
    transform: scale(1.05);
}
#activities .card img
{
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
#calanques, #vieux-port
{
    height: 460px;
    grid-row: span 2;
}
#vieux-port img, #calanques img
{
    height: 405px;
}
#vieux-port
{
    grid-area: a;
}
#calanques 
{
    grid-area: d;
}

#pomegues 
{
    height: 235px;
    grid-area: b;
}
#pomegues img 
{
    height: 180px;
}
#frioul 
{
    height: 170px;
    grid-area: c;
    align-self: end;
}
#frioul img 
{
    height: 116px;
}
#notre-dame-de-la-garde 
{
    height: 194px;
    grid-area: e;
}
#notre-dame-de-la-garde img 
{
    height: 138px;
}
#longchamp 
{
    height: 209px;
    grid-area: f;

}
#longchamp img 
{
    height: 152px;
}
@media (max-width: 992px) 
{
    #activities
    {
        width: 100%;
    }
    #activities h2
    {
        margin-left: 1rem;
    }
    #activities .cards-container 
    {
        margin: auto 1rem;
        grid-template-columns:
         50% 50%;
        grid-template-areas: 
            "a b"
            "c d"
            "e f";
    }
    #vieux-port, #calanques, #pomegues, #frioul, #notre-dame-de-la-garde, #longchamp
    {
        width: 95%;
        height: 200px;
    }
    #vieux-port img, #calanques img, #pomegues img, #frioul img, #notre-dame-de-la-garde img, #longchamp img
    {
        height: 155px;
    }
    #activities h3
    {
        margin: 0.5rem;
    }
}
@media (max-width: 605px) 
{
    #activities .cards-container 
    {
        grid-template-columns: 100%;
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
    #vieux-port, #calanques, #pomegues, #frioul, #notre-dame-de-la-garde, #longchamp
    {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
/* FOOTER */
footer 
{
    background-color: #f2f2f2;
    padding-bottom: 1.5rem;
    margin: 0;
}
footer .container 
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;
}
footer .container ul 
{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0rem 0rem 0rem;
}
footer .container ul li 
{
    margin: 0.5rem;
}