/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body 
{
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    font-family: raleway, sans-serif;
}
.container 
{
    width: 95%;
    margin: auto auto 2.5rem auto;
}
h1 
{
    font-size: 1.25rem;
}
h2 
{
    font-size: 1rem;
    margin: 0.5rem;
}
h3 
{
    margin: 0rem 0rem 0.5rem 0rem;
}
a 
{
    text-decoration: none;
    color: black;
}
p 
{
    margin-bottom: 1rem;
}
.price 
{
    font-weight: bold;
}
ul 
{
    list-style: none;
    display: flex;
}

/* HEADER */
header 
{
    display: flex;
    justify-content: space-between;
    color: #0065FC;
}
nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
nav ul 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    list-style-type: none;
}
nav ul a:hover 
{
    color: #0065FC;
    text-decoration: overline;
}
#registration 
{
    font-weight: bold;
    color: #0065FC;
    transform: scale(1);
}
#registration:hover 
{
    transform: scale(1.05);
    font-size: 1.1rem;
}