/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body 
{
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    font-family: raleway, sans-serif;
}
.container 
{
    width: 95%;
    margin: auto auto 2.5rem auto;
}
h2
{
    font-size: 1.25rem;
}
h3
{
    font-size: 1rem;
    margin: 0.5rem;
}
h4 
{
    margin: 0rem 0rem 0.5rem 0rem;
}
a 
{
    text-decoration: none;
    color: black;
}
p 
{
    margin-bottom: 1rem;
}
.price 
{
    font-weight: bold;
}
ul 
{
    list-style: none;
    display: flex;
}

/* HEADER */
header 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #0065FC;
}
nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
nav ul 
{
    justify-content: space-between;
    padding-left: 0rem;
}
nav ul li:hover 
{
    color: #0065FC;
    border-top: #0065FC 1px solid;
    padding-top: 0.5rem;
}

#login
{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
#registration 
{
    font-weight: bold;
    color: #0065FC;
    transform: scale(1);
}
#registration:hover 
{
    transform: scale(1.05);
    font-size: 1.1rem;
}
@media (max-width: 605px)
{
    header 
    {
        flex-direction: column;
    }
    nav 
    {
        order: 3;
        width: 100%;
        margin-top: 2rem;
    }
    nav ul li
    {
        border-bottom: 3px solid #f1eeee;
        padding-bottom: 1rem;
        width: 50%;
        text-align: center;
    }
    nav ul li:hover
    {
        border-top: none;
        border-bottom-color: #0065fc;
        padding-top: 0rem;
    }
    #login
    {
        align-self: flex-end;
        margin-top: -1.7rem;
    }
}

/* SECTION 1*/
.fa-info-circle 
{
    color: #0065FC;
}
/* formulaire */
.destination-form 
{
    display: flex;
    height: 40px;
}
.destination-form__map-point 
{
    width: 40px;
    background-color: #f2f2f2;
    border: #f2f2f2 solid 1px;
    border-radius: 0.7rem 0rem 0rem 0.7rem;
    display: flex;
}
.fa-map-marker-alt 
{
    color: #0065FC;
    margin: auto;
}
.destination-form__text-area 
{
    width: 20%;
    min-width: 12rem;
    padding-left: 15px;
    border: #f2f2f2 solid 1px;
    border-radius: 0%;
}
.destination-form__text-area:focus-visible 
{
    outline: none;
}
.destination-form__submit-button--text 
{
    width: 10%;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 0rem 0.7rem 0.7rem 0rem;
    color: white;
}
.destination-form__submit-button--text:hover 
{
    background-color: #3083ff;
}
.destination-form__submit-button--icon 
{
    display: none;
}
@media (max-width: 992px) 
{
    .destination-form__submit-button--text 
    {
        display: none;
    }
    .destination-form__submit-button--icon 
    {
        display: initial;
        position: absolute;
        left: 14rem;
    }
    .destination-form__submit-button--icon input 
    {
        width: 40px;
        height: 40px;
        background-color: #0065FC;
        border: #f2f2f2 solid 1px;
        border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
    }
    .fa-search 
    {
        color: white;
        position: relative;
        right: 1.8rem;
        bottom: 0.82rem;
    }
}
/* filtres */
.search-filter 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    font-weight: bold;
    margin-top: 1rem;
}
.search-filter__options 
{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    cursor: pointer;
}
.search-filter__option 
{
    display: flex;
    margin-bottom: 1rem;
    transform: rotate(0deg);
    transition: transform 600ms ease-out;
}
.search-filter__option:hover
{
    transform: rotate(360deg);
}
.search__filter--icon 
{
    color: #0065FC;
    position: relative;
    left: 1.5rem;
    background-color: #e3eeff;
    border: 1px solid #e3eeff;
    border-radius: 100%;
    padding: 1rem;
    margin: 0;
}
.search__filter--name 
{
    display: flex;
    border: solid 2px #d9d9d9;
    height: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-left: none;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    white-space: nowrap;
    margin: auto;
}

/* SECTION 2 */
#hebergements
{
    display: flex;
    margin-bottom: 0rem;
}
#hebergements h1
{
    margin-top: 0;
    margin-bottom: 0;
}
.hebergements__options, .hebergements__populaires 
{
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
.blue-star 
{
    color: #0065FC;
}
.empty-star 
{
    color: #d9d9d9;
}
@media (max-width: 992px) 
{
    #hebergements
    {
        flex-direction: column-reverse;
        width: 95%;
    }
}
/* hébergements à Marseille */
.hebergements__options:nth-child(1) 
{
    flex: 2;
    margin-right: 3%;
}
.hebergements__options--container 
{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hebergements__options .cards-container 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements__options h2
{
    margin-bottom: 1.5rem;
}
.hebergements__options .card 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 246px;
    height: 200px;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    transform: scale(1);
}
.hebergements__options .card:hover 
{
    transform: scale(1.05);
}
.hebergements__options .card__image 
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
.hebergements__options .card__body 
{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.hebergements__options h3, .hebergements__options p, .hebergements__options ul 
{
    margin: 0.5rem 0rem 0rem 0.5rem;
    padding: 0;
    transform: none;
}
.more
{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}
@media (max-width: 992px) 
{
    .hebergements__options:nth-child(1) 
    {
        background-color: white;
        margin: auto;
    }
}
@media (max-width: 605px) 
{
    .hebergements__options--container
    {
        margin: auto;
    }
    .hebergements__options .cards-container 
    {
        flex-direction: column;
    }
    .hebergements__options .card 
    {
        width: 95%;
    }
}
/* hébergements populaires */
.hebergements__populaires:nth-child(2) 
{
    flex: 1;
    display: flex;
}
.hebergements__populaires--container 
{
    margin: 2rem auto 0rem auto;
}
.hebergements__populaires__header 
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.hebergements__populaires .title-container 
{
    display: flex;
    justify-content: space-between;
}
.hebergements__populaires h2 
{
    margin-bottom: 1.5rem;
}
.fa-chart-line
{
    margin: auto 0 auto 0;
}
.hebergements__populaires .cards-container 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements__populaires .card 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    display: flex;
    margin-bottom: 2rem;
    width: 345px;
    height: 145px;
    padding: 0.3rem;
    transform: scale(1);
}
.hebergements__populaires .card:hover 
{
    transform: scale(1.05);
}
.hebergements__populaires .card__image 
{
    max-width: 128px;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align: center;
}
.hebergements__populaires .card__body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 0.8rem;
}
.hebergements__populaires h3, .hebergements__populaires p, .hebergements__populaires ul
{
    margin: 0rem 1rem 1rem 0rem;
    padding: 0;
}
@media (max-width: 992px)
{
    .hebergements__populaires--container
    {
        width: 100%;
    }
    .hebergements__populaires .card
    {
        width: 95%;
        margin: auto auto 2rem auto;
    }
    .title-container
    {
        width: 95%;
        margin: auto;
    }
}
@media (max-width: 992px){
    .hebergements__populaires .card__image
    {
        width: 100%;
    }
}
/* SECTION 3 */
#activities 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#activities h2
{
    margin-bottom: 1.5rem;
}
#activities .cards-container 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.big-card 
{
    transform: scale(1);
}
.big-card:hover 
{
    transform: scale(1.05);
}
.small-card 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 445px;
    margin-bottom: 2rem;
}
.small-card__container 
{
    transform: scale(1);
}
.small-card__container:hover
{
    transform: scale(1.05);
}
#vieux-port, #calanques 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 300px;
    height: 445px;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}
#vieux-port img, #calanques img 
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
#pomegues 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 300px;
    height: 235px;
    margin-right: 1.5rem;
}
#pomegues img 
{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
    transform: none;
}
#frioul 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 300px;
    height: 164px;
}
#frioul img 
{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
#notre-dame-de-la-garde 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 300px;
    height: 194px;
}
#notre-dame-de-la-garde img 
{
    width: 100%;
    height: 138px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
#longchamp 
{
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 16px #0000002e;
    width: 300px;
    height: 209px;
}
#longchamp img 
{
    width: 100%;
    height: 152px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    text-align: center;
}
@media (max-width: 992px) 
{
    #vieux-port, #calanques  
    {
        margin-right: 0;
    }
    #pomegues 
    {
        margin-right: 0;
    }
}
@media (max-width: 605px) 
{
    #activities .cards-container 
    {
        flex-direction: column;
    }
    #vieux-port, #calanques, #pomegues, #frioul, #notre-dame-de-la-garde, #longchamp
    {
        width: 95%;
    }
}
/* FOOTER */
footer 
{
    background-color: #f2f2f2;
    padding-bottom: 1.5rem;
    margin: 0;
}
footer .container 
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;
}
footer .container ul 
{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0rem 0rem 0rem;
}
footer .container ul li 
{
    margin: 0.5rem;
}




